<h1>Profile</h1>
<p>名前 : <%= current_user.name %></p>
<p>プロフィール : <%= current_user.profile %></p>
<p>郵便番号 : <%= current_user.zip %></p>
<p>住所 : <%= current_user.address %></p>
<p>メールアドレス : <%= current_user.email %></p>

