<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<br>
<br>
<h2><strong><%= t :comment %></strong></h2>
<% @book.comments.each do |comment| %>
  
  <p>
    <strong><%= t :name %>:</strong>
    <%= comment.name %>
  </p>
   
  <p>
    <%= comment.content %>
    <%= link_to '[x]', book_comment_path(@book, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<br>
<%= form_for( [@book, @book.comments.build] ) do |f| %>
  <p>
    <strong><%= t :name %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.text_area :content, cols: 30, rows: 5 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

