<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :title %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= t :content %>:</strong>
  <%= @report.content %>
</p>

<%= link_to t('edit'), edit_report_path(@report) %> |
<%= link_to t('back'), reports_path %>
<br>
<br>
<h2><strong><%= t :comment %></strong></h2>
<% @comments.each do |comment| %>
  
  <p>
    <strong><%= t :name %>:</strong>
    <%= comment.name %>
  </p>
   
  <p>
    <%= comment.content %>
    <%= link_to '[x]', report_comment_path(@report, comment), method: :delete, data: { confirm: t('confirm') } %>
  </p>
<% end %>
<%= paginate @comments %>
<br>
<%= form_for( [@report, @report.comments.build] ) do |f| %>
  <p>
    <strong><%= t :name %></strong>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.text_area :content, cols: 30, rows: 5 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
